ion-grid, ion-row {
  width: 100%;
}

ion-col {
  display: flex;
  justify-content: stretch;
}

.livro-card {
  display: flex;
  flex-direction: column;
  width: 100%;  
  height: 100%;
}

.livro-card img {
  width: 100%;
  height: 300px;      
  object-fit: cover;
}

ion-card-content {
  flex: 1;            
}

ion-button {
  margin-top: auto;    
}
